html, body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
}

.disable-scrolling {
    overflow-y: hidden;
}

@media (width >=1000px) {
    body {
        overflow: auto !important;
    }
}