/* HOME PAGE test */

a {
    position: relative;
    width: 1440px;
    height: 3000px;
    background: #FFFFFF;
}

/* material-symbols:call */

b { 
    position: absolute;
    width: 100px;
    height: 100px;
    left: 330px;
    top: 1793px;
}
